<!DOCTYPE html>
<html>
<head>
</head>

<body>
    <p>HOME</p>
    <input type="button" onclick="window.location.href='./tableinsert'" value="TABLE INSERT">
    <input type="button" onclick="window.location.href='./tabledelete'" value="TABLE DELETE">
</body>
</html>
