<!DOCTYPE html>
<html>
<head>
</head>

<body>
    <div class="container">
    <h2>HOME</h2>
    <input type="button" onclick="window.location.href='./tableinsert'" value="TABLE INSERT">
    <input type="button" onclick="window.location.href='./tabledelete'" value="TABLE DELETE">
    <input type="button" onclick="window.location.href='./tableread'" value="TABLE READ">
    </div>
</body>
</html>
