<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
<h2>HOME</h2>

<p>
ok this whole webapp is a demo, click below to pretend to be a student or sensei/professor/admin,
don't worry you won't break anything and it will help me when you find bugs :)
</p>
<input type="button" onclick="window.location.href='/studentlogin'" value="PRETEND TO BE STUDENT">
<input type="button" onclick="window.location.href='/adminhome'" value="PRETEND TO BE SENSEI/PROFESSOR/ADMIN">
</div>
</body>
</html>
