<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
  <h2>STUDENT LOGIN</h2>
  <form action="/loginstudentsubmit" method="post" enctype="multipart/form-data">
    <label for="email_id">EMAIL: </label>
    <input type="text" name="email_name" id="email_id">
    <br/>
    <label for="password_id">PASSWORD: </label>
    <input type="text" name="password_name" id="password_id">
    <br/>
    <input type="submit" value="LOGIN">
    <input type="button" onclick="window.location.href='/'" value="CANCEL">
  </form>
</div>
</body>
</html>
