<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="container">
  <h2>SUBSCRIPTION TABLE INSERT</h2>
  <form action="subscriptiontableinsertsubmit" method="post" enctype="multipart/form-data">
     <label for="studentid_id">STUDENT ID: </label>
     <input type="number" name="studentid_name" id="studentid_id">
     <br />
     <label>ACTIVE: </label>
     <input type="radio" name="active_yes_name" id="active_yes_id" /><label for="active_yes">YES</label>
     <input type="radio" name="active_no_name" id="active_no_id" /><label for="active_no">NO</label>
     <br />
     <label for="lastpaidmonth_id">LAST PAID MONTH: </label>
     <input type="number" name="lastpaidmonth_name" id="lastpaidmonth_id">
     <br />
     <label for="lastpaidyear_id">LAST PAID YEAR: </label>
     <input type="number" name="lastpaidyear_name" id="lastpaidyear_id">
     <br />
     <input type="submit" value="SAVE">
     <input type="button" onclick="window.location.href='./'" value="CANCEL">
  </form>
  </div>
  
</body>
</html>
