<!DOCTYPE html>
<html>
<head>
</head>

<body>
  <p>TABLE INSERT</p>
  <form action="tableinsertsubmit" method="post" enctype="multipart/form-data">
     <label for="brand_id">BRAND: </label>
     <input type="text" name="brand_name" id="brand_id">
     <br />
     <label for="model_id">MODEL: </label>
     <input type="text" name="model_name" id="model_id">
     <br />
     <label for="year_id">YEAR: </label>
     <input type="number" name="year_name" id="year_id">
     <br />
     <input type="submit">
  </form>
  <br />
  <input type="button" onclick="window.location.href='./..'" value="HOME">
</body>
</html>
