<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="container">
  <h2>DOWNLOAD ALL DATABASE TABLE FILES</h2>
  <p>If it takes too long to show this page that means all database tables are too big and/or render.com database servers or file system too busy to get data quickly, i may put an intermediate page here but for now this will do.</p>
  <p>Click the buttons below to download the files just prepared, if you are using your phone-webbrowser or desktop-laptop-webbrowser, a download should start and finish and the web-browser should show you its done and the file should be in your downloads folder.</p>
  <p>When you are finished, you can click HOME button to go back to HOME screen.</p>
  <input type="button" id="student_table_button"      onclick="window.location.href='/downloadstudenttablefile'; document.getElementById('student_table_button').style.display = 'none';" value="DOWNLOAD STUDENT TABLE AS CSV FILE">
  <input type="button" id="subscription_table_button" onclick="window.location.href='/downloadsubscriptiontablefile'; document.getElementById('subscription_table_button').style.display = 'none';" value="DOWNLOAD SUBSCRIPTION TABLE AS CSV FILE">
  <input type="button" id="reservation_table_button" onclick="window.location.href='/downloadreservationtablefile'; document.getElementById('reservation_table_button').style.display = 'none';" value="DOWNLOAD RESERVATION TABLE AS CSV FILE">
  <input type="button" onclick="window.location.href='/adminhome'" value="ADMIN HOME">
  </div>
</body>
</html>
