<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="container">
  <h2>DOWNLOAD STUDENT TABLE</h2>
  <p>If it takes too long to show this page that means student table is too big and/or render.com database servers or file system too busy to get data quickly, i may put an intermediate page here but for now this will do.</p>
  <input type="button" onclick="window.location.href='/makestudenttablefile'" value="DOWNLOAD STUDENT TABLE AS CSV FILE">
  <input type="button" onclick="window.location.href='/'" value="CANCEL DOWNLOAD JUST GO HOME">
  </div>
</body>
</html>
