<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="container">
  <h2>GHETTO ADMIN TOOLS</h2>
  <p>These tools are because the free-database expires every month, so you download the data into .csv files and then reupload the data when you create another monthly free database.  Later these tools can be automated but for now just doing agile-development alone.</p>
  <input type="button" onclick="window.location.href='/makealldbtablefiles'" value="PREPARE ALL DATABASE TABLES FOR DOWNLOAD">
  <input type="button" onclick="window.location.href='/adminhome'" value="CANCEL">
  </div>
</body>
</html>
